version: "3.1"

services:
  db:
    image: postgres:13.1
    privileged: true
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: optikrus
      POSTGRES_PASSWORD: password123456
      POSTGRES_DB: flask_db
    volumes:
      - ./postgres-data/postgres:/var/lib/postgresql/data
  app:
    restart: always
    build: .
    ports:
      - 5001:5001
    volumes:
      - .:/app
    depends_on:
      - db